body {
    padding: 0;
    margin: 0;
    display:flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: fuchsia;
}

.container {
width: 800px;
max-width:80%;

background-color: turquoise;
border-radius: 5px;
padding: 10px;
box-shadow: 0 0 10px 2px;
}

.btn-answers {
display: grid;
grid-template-columns: repeat(2, auto);
gap: 10px;
margin: 20px 0;
}

.btn {
    padding: 5px 10px;
    text-align: center;
    background-color: lightblue;
    border: 1px solid; 
    border-radius: 5px;
    color: black; 
    outline: none;
    width: 49.5%;
    gap: 10px;

}

.btn:hover {
    border-color: black
}

.startBtn, .nextBtn {
    font-size: 50px;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center ;
}

.hidden {
    display: none;
};